# /etc/systemd/system/ctfd.service
[Unit]
Description=CTFd daemon
After=network.target

[Service]
User=ctfd
Group=ctfd
RuntimeDirectory=ctfd
WorkingDirectory=/opt/CTFd-2.5.0
ExecStart=/opt/CTFd-2.5.0/bin/gunicorn --bind 0.0.0.0:8000 -w {{ (ansible_processor_vcpus * 3|int|abs) }} -t {{ (ansible_processor_vcpus * 3)|int|abs }} --worker-class 'gevent' "CTFd:create_app()" -t 90
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
PrivateTmp=true
Restart=always
Environment=DATABASE_URL="mysql+pymysql://ctfd:{{ DB_PASS}}@{{ DB_URL}}/ctfd"
Environment=CACHE_TYPE="redis"
Environment=REDIS_URL="{{ REDIS_URL }}"
Environment=UPLOAD_PROVIDER="s3"
Environment=AWS_S3_BUCKET="{{ AWS_S3_BUCKET }}"

[Install]
WantedBy=multi-user.target
